body{
    background: linear-gradient(180deg,rgb(121, 218, 248),rgb(26, 58, 87));
    background-attachment: fixed;
    color: white;
    padding: 0px;
    margin: 0px;
}
.grid{
    display: inline-flex;
    flex-wrap: wrap;
    height: 600px;
    width: 800px;
    margin-left: 17rem;
    margin-bottom: 1rem;
}
